<script text="text/javascript">
    $j('input[id="message_phone"]').each (function(){
                $j(this).mask("(999) 999-9999");
            }
    );
</script>

<div class="contact">
    <h1>Contact Me</h1>

    <%= form_for @message do |f| %>
        <% if @message.errors.any? %>
            <div class="error_messages">
              <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>
              <ul>
                <% @message.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
        <% end %>
        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>

        <div class="field">
        <div id="phone">
          <%= f.label :phone %>
          <%= f.text_field :phone %>
        </div>
          </div>

        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>

        Preferred Method of Contact
        <div class="field">
          <%= f.label :Email %>
          <%= f.radio_button :contact_method, 'Email' %>

          <%= f.label :Phone %>
          <%= f.radio_button :contact_method, 'Phone' %>
        </div>

        <div class="field">
        Type of Photo Session
        <%= f.select :type, [['Wedding', 'Wedding'], ['Engagement', 'Engagement'], ['Baby', 'Baby'], ['Senior', 'Senior'], ['Family', 'Family'], ['Other', 'Other']] %>
        </div>

        <div class="field">
          <%= f.label :content, "Message(Optional)" %><br />
          <%= f.text_area :content %>
        </div>
        <div class="actions"><%= f.submit "Send Message" %></div>
    <% end %>
</div>