<div class="new_client">
<h1>Register a New Client</h1>

<%= form_for @user do |f| %>
    <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <p>
      <%= f.label :First_Name %>
      <%= f.text_field :fname %>
    </p>
    <p>
      <%= f.label :Last_Name %>
      <%= f.text_field :lname %>
    </p>
    <p>
      <%= f.label :Email %>
      <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :Username %>
      <%= f.text_field :username %>
    </p>
    <p>
      <%= f.label :Password %>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :Password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </p>
    <p>
      <%= f.label :role %>
      <%= f.text_field :role %>
    </p>
    <p class="button"><%= f.submit %></p>
<% end %>
</div>