<!DOCTYPE html>
<html>
<head>
  <title>AuthTest</title>
  <script src="//code.jquery.com/jquery-latest.min.js"></script>
  <%= javascript_include_tag "unslider.min" %>
  <%= javascript_include_tag "application" %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "navigation", :media => "all" %>

  <%= csrf_meta_tags %>

  <!--Slide show-->
  <script>
      $.noConflict();
      jQuery(document).ready(function () {
          $("#navigation > li > a").click(function (e) { // binding onclick
                  if ($(this).parent().hasClass('selected')) {
                    $("#navigation .selected div div").fadeOut(); // hiding popups
                    $("#navigation .selected").removeClass("selected");
                  } else {
                    $("#navigation .selected div div").fadeOut(); // hiding popups
                    $("#navigation .selected").removeClass("selected");

                    if ($(this).next(".subs").length) {
                      $(this).parent().addClass("selected"); // display popup
                      $(this).next(".subs").children().slideDown(1000, function(){});
                    }
                  }
                  e.stopPropagation();
                  e.preventDefault();
          });

          $("html").click(function () { // binding onclick to body
             $("#navigation .selected div div").fadeOut(); // hiding popups
             $("#navigation .selected").removeClass("selected");

          });

          $('.banner').unslider({});
      });

  </script>



</head>

<body>
<div class="page">
    <div class="side_header">
      <h1>Photography Niche</h1>
      <p>by Nichelle Bailey</p>
    </div>


      <ul id="navigation">
          <li>
            <a href="#">Portfolio</a>
             <div class="subs">
               <div>
                 <ul>
                    <li><a href="#" class="clicker">Milestones</a></li>
                    <li><a href="#" class="clicker">Portraits</a></li>
                    <li><a href="#" class="clicker">Together</a></li>
                    <li><a href="#" class="clicker">Little Ones</a></li>
                    <li><a href="#" class="clicker">Beginnings</a></li>
                    <li><a href="#" class="clicker">Expecting</a></li>
                  </ul>
                 </div>
               </div>
            <div class="clear"></div>
          </li>

        <li>
          <a href="#">Weddings and Engagements</a>
            <div class="subs">
              <div>
                  <ul>
                    <li><a href="#">Celebrate</a></li>
                    <li><a href="#">I Do</a></li>
                    <li><a href="#">Anticipation</a></li>
                    <li><a href="#">Engagements</a></li>
                  </ul>
                </div>
              </div>
          <div class="clear"></div>
        </li>

        <li>
          <a href="#">Information</a>
          <div class="subs">
            <div>
              <ul>
                <li><a href="#">Investment</a></li>
                <li><a href="#">Offerings</a></li>
                <li><a href="#">The Artist</a></li>
               </ul>
            </div>
          </div>
          <div class="clear"></div>
        </li>

    <div class="kitties">
    <% if current_user && current_user.role == "1" %>
        <li><%= link_to "Register People", sign_up_path %></li>
        <li><%= link_to "List of Users", list_users_path%></li>
        <li><%= link_to "Log out", log_out_path %></li>
    <% elsif current_user && current_user.role == "2" %>
        Logged in as <%= current_user.username %>.
        <li><%= link_to "Contact Me", contact_me_path %></li>
        <li><%= link_to "Log out", log_out_path %></li>
    <% else %>
        <li><%= link_to "Contact Me", contact_me_path %></li>
        <li><%= link_to "Events", log_in_path %></li>
    <% end %>
        <div class="clear"></div>
      </div>
      </ul>

    <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>


    <%= yield %>

    </div>



</body>
</html>
