<!DOCTYPE html>
<html>
<head>
  <title>AuthTest</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

  <%= javascript_include_tag "unslider.min" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!--Slide show-->
  <script>
      $(function() {
          $('.banner').unslider();

          var unslider = $('.banner').unslider();

          $('.unslider-arrow').click(function() {
              var fn = this.className.split(' ')[1];

              //  Either do unslider.data('unslider').next() or .prev() depending on the className
              unslider.data('unslider')[fn]();
          });
      });
  </script>

  <!--Navigation-->
  <script>
      $(function () {
          $('.click-nav > ul').toggleClass('no-js js');
          $('.click-nav .js ul').hide();
          $('.click-nav .js').click(function(e) {
              $('.click-nav .js ul').slideToggle(200);
              $('.clicker').toggleClass('active');
              e.stopPropagation();
          });
          $(document).click(function() {
              if ($('.click-nav .js ul').is(':visible')) {
                  $('.click-nav .js ul', this).slideUp();
                  $('.clicker').removeClass('active');
              }
          });
      });

  </script>
</head>

<body>
<div class="page">
<div class="menu">
<div class="click-nav">
  <ul class="no-js">
    <li>
      <a href="#" class="clicker">Portfolio</a>
      <ul>
        <li><a href="#">Milestones</a></li>
        <li><a href="#">Portraits</a></li>
        <li><a href="#">Together</a></li>
        <li><a href="#">Little Ones</a></li>
        <li><a href="#">Beginnings</a></li>
        <li><a href="#">Expecting</a></li>
      </ul>
    </li>
  </ul>
</div>

<!--<div class="click-nav">
  <ul class="no-js">
    <li>
      <a href="#" class="clicker">Weddings and Engagements</a>
      <ul>
        <li><a href="#">Celebrate</a></li>
        <li><a href="#">I Do</a></li>
        <li><a href="#">Anticipation</a></li>
        <li><a href="#">Engagements</a></li>
      </ul>
    </li>
  </ul>
</div>

<div class="click-nav">
  <ul class="no-js">
    <li>
      <a href="#" class="clicker">Information</a>
      <ul>
        <li><a href="#">Investment</a></li>
        <li><a href="#">Offerings</a></li>
        <li><a href="#">The Artist</a></li>
       </ul>
    </li>
  </ul>
</div> -->
     <ul>kitties</ul>
<% if current_user && current_user.role == "1" %>
    <%= link_to "Register People", sign_up_path %>
    <%= link_to "List of Users", list_users_path%>
    <%= link_to "Log out", log_out_path %>
<% elsif current_user && current_user.role == "2" %>
    Logged in as <%= current_user.username %>.
    <%= link_to "Contact Me", contact_me_path %>
    <%= link_to "Log out", log_out_path %>
<% else %>
    <%= link_to "Contact Me", contact_me_path %>
    <%= link_to "log in", log_in_path %>
<% end %>


<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
</div>
  <hr id="gray2"/>

<%= yield %>

<a href="#" class="unslider-arrow prev">Previous slide</a>
 <div class='banner'>

   <ul>

    <li><img src="/assets/rails.png" alt="photo1 title"></li>

    <li><img src="/assets/cave.jpg" alt="photo2 title"></li>

    <li><img src="/assets/fruits.jpg" alt="photo3 title"></li>

    <li> <img src="/assets/pool.jpg" alt="photo4 title"></li>
   </ul>

 </div>
<a href="#" class="unslider-arrow next">Next slide</a>

</div>
</body>
</html>
